{% extends 'aplicacion/base.html' %}
{% load widget_tweaks %}
{% load static %}


{% block content %}

<head><title>Graficador</title></head>

<script>

  $(document).ready(function () {
    
  $('#tabla1').DataTable({
    "language": {
      url:"{% static 'js/Spanish.json' %}"
    },
  });
  $('.dataTables_length').addClass('bs-select');
  });
</script>



<div class="container-fluid full-width">
  <div class="row align-items-center">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          Mapa
        </div>
        <div class="card-body">
         
          {{map|safe}}
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header">
          Opciones de filtro
        </div>
        <div class="card card-body">
            <form method="get">
              {% for field in filtro.form.visible_fields %}
              <div class="col">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
              {% endfor %}
              <br>
              <div class="card text-center">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Buscar</button>
                   
              </div>
            </form>
            <div class="card text-center">
              <a class="btn btn-primary btn-lg btn-block" role="button" href="{% url 'tablas' %}">Resetear Busqueda</a>   
            </div>
        </div>
      </div>
    </div>  
  </div>
</div>











<div class="container-fluid full-width">
  <div class="row align-items-center">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="btn-group">
            <p class="fw-bolder fs-5">Resultados de la busqueda....</p>
              
            <div class="dropdown">
              <button class="btn btn-primary btn-lg btn-block dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Descargar...
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="{% static '/CSV/maps.csv' %}">Descargar CSV</a></li>
                <li><a class="dropdown-item" href="{% static '/CSV/maps.xlsx' %}">Descargar xlxs</a></li>
                
              </ul>
            </div>
          </div>
          <div class="btn-group">
            <a href="{% static '/Maps/map_filtro.html' %}" class="btn btn-primary btn-lg btn-block" target="_blank">Visualizar mapa en pantalla completa</a>
          </div>
        </div>
      </div>
        <div class="card-body">
          <table id="tabla1" class= "table table-sm mb-0">
            <thead>
              <tr>
              
                <th >Usuario:</th>
                <th >Id: </th>
                <th >Fecha:</th>
                <!-- <th>IMSI:</th>--> 
                <!-- <th>MCC:</th>--> 
                <!-- <th>MNC:</th>--> 
                <th >Nombre del test:</th>
                <th >Observacion:</th>
                <th >Operador:</th>
                <th >Latitud:</th>
                <th >Longitud:</th>
                <th >Potencia dBm</th>
                <!-- <th>Rssi</th>--> 
                <!-- <th>Modelo:</th>--> 
                <!-- <th>Imei:</th>--> 
                <!-- <th>Marca:</th>--> 
              </tr>
            </thead>
            <tbody id="myTable">
              {% for datos in datos %}
              <tr>
                <td>{{datos.usuario}}</td>
                <td>{{datos.id_usr}}</td>  
                <td>{{datos.fecha}}</td>
            <!-- <td>{{datos.imsi}}</td> --> 
            <!-- <td>{{datos.mcc}}</td>  --> 
            <!-- <td>{{datos.mnc}}</td>  --> 
                <td>{{datos.test_name}}</td>
                <td>{{datos.observacion}}</td> 
                <td>{{datos.operador}}</td>  
                <td>{{datos.latitud}}</td>
                <td>{{datos.longitud}}</td> 
                <td>{{datos.pot_db}}</td>   
            <!-- <td>{{datos.rssi}}</td>--> 
            <!-- <td>{{datos.modelo}}</td>  --> 
            <!-- <td>{{datos.imei}}</td>  --> 
            <!-- <td>{{datos.marca}}</td>--> 
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}


